

body {
    background-color:tan;
    background-image: linear-gradient;
    
}

p {
    position:relative;
    font-size: 30px
    padding:40;
    margin:40;
    top: 2px;
    bottom: 20px: 
    left:2px;
    right:2px

    width: 80%;
    height: 80%;
    background:rgba(255,255,255,0.5);
}

button {
    background-color: darkblue;
    font-style: normal;
    margin: 7px;
    border-radius: 7px;
    color: whitesmoke;
    padding: 3px 8px;
    size: 70px;
}

.hide {
    display: none;
}

.timer {
    position:absolute; 
    size:static; 
}


